<h1>新規利用者</h1>

<div style="color: red; font-weight: bold;">
<% if @user.errors.any? %>
  <% @user.errors.messages.values.each do |v| %>
    <p><%= v[0] %></p>
  <% end %>
<% end %>
</div>

<%= render 'form' %>
 
<%= link_to 'Back', users_path %>
